<div class="main">
  <p>
    <div class="description">{{localize "mtte.tileSearchDescr"}}.</div>
    <div class="search">
      <input id="searchTiles" class="searchinput" type="text" placeholder="{{localize "mtte.search"}}"></input>
      <select class="packlist">
      <option value="-1">{{localize "mtte.allPacks"}} ({{count}})</option>
      {{#each packs as |p|}}<option value="{{p.id}}">{{p.name}}</option>{{/each}}
      </select>
      <button class="search"><i class="fas fa-search"></i></button>
    </div>
    <div id="tiles" class="list">
    </div>
  </p>
  <p>
    <div class="actions">
      <button class="listPacks" title="{{localize "mtte.listAvailablePacksToolTip"}}"><i class="fas fa-info-circle"></i> {{localize "mtte.listAvailablePacks"}}</button>
    </div>
  </p>
  <p>
    <div class="messagebox"><i class="fas fa-check-circle"></i><span class="message"></span></div>
  </p>
</div>
<img class="logo" src="modules/fvtt-moulinette/img/moulinette-icon.png" width="60"/>
<p>This is still a prototype. Interface is minimalistic and server resources are kept small until <a href="https://www.patreon.com/moulinette" target="_blank">Patron support</a> will be enough to afford more. Join me on <a href="https://discord.gg/xg3dcMQfP2" target="_blank">Moulinette Discord</a> to follow development and support it. 
</p>
