<form autocomplete="off" onsubmit="event.preventDefault();">
  <p>{{desc}}</p>
  
  {{#if error}}
  <div class="error">{{error}}</div>
  {{/if}}
  {{#unless error}}
  
    <nav class="sheet-tabs tabs">
      <a class="item {{#if scenesActive}}active{{/if}}" data-tab="scenes"><i class="fas fa-image"></i> {{localize "mtte.scenes"}}</a>
      <a class="item {{#if gameIconsActive}}active{{/if}}" data-tab="gameicons"><i class="fas fa-file-image"></i> {{localize "mtte.gameIcons"}}</a>
      <a class="item {{#if imageSearchActive}}active{{/if}}" data-tab="imagesearch"><i class="fas fa-images"></i> {{localize "mtte.imageSearch"}}</a>
      <a class="item {{#if tileSearchActive}}active{{/if}}" data-tab="tilesearch"><i class="fas fa-puzzle-piece"></i> {{localize "mtte.tileSearch"}}</a>
      <a class="item {{#if customSearchActive}}active{{/if}}" data-tab="customsearch"><i class="fas fa-toolbox"></i> {{localize "mtte.customSearch"}}</a>
      <a class="item {{#if customAudioActive}}active{{/if}}" data-tab="customaudio"><i class="fas fa-music"></i> {{localize "mtte.customAudio"}}</a>
    </nav>

    {{#if scenesActive}}
      {{> "modules/fvtt-moulinette/templates/forge-scenes.hbs"}}
    {{/if}}
    {{#if gameIconsActive}}
      {{> "modules/fvtt-moulinette/templates/forge-gameicons.hbs"}}
    {{/if}}
    {{#if imageSearchActive}}
      {{> "modules/fvtt-moulinette/templates/forge-imagesearch.hbs"}}
    {{/if}}
    {{#if tileSearchActive}}
      {{> "modules/fvtt-moulinette/templates/forge-tilesearch.hbs"}}
    {{/if}}
    {{#if customSearchActive}}
      {{> "modules/fvtt-moulinette/templates/forge-customsearch.hbs"}}
    {{/if}}
    {{#if customAudioActive}}
      {{> "modules/fvtt-moulinette/templates/forge-customaudio.hbs"}}
    {{/if}}
  
  {{/unless}}
  <img class="logo" src="modules/fvtt-moulinette/img/moulinette-icon.png" width="60"/>
  <p>
    Become a <a href="https://www.patreon.com/moulinette" target="_blank">Patreon</a> to support Moulinette.<br/>
    Join me on <a href="https://discord.gg/xg3dcMQfP2" target="_blank">Moulinette Discord</a> to follow development. <br/>
    <a href="https://github.com/SvenWerlen/moulinette">{{localize "mtte.seeDoc"}}</a> {{localize "mtte.learnMore"}}
  </p>
</form>
